<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Inicio de Sesión</title>
</head>

<body>
    <!--Separar divs mediante HTML-->
    <main class="register_login">
        <div class="register_form">
            <form action="#" method="POST">
                <div style="margin-bottom: 1rem;">
                    <label for="nombre">Nombre</label><br>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="apellido">Apellido</label><br>
                    <input type="text" id="apellido" name="apellido" required>
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" required>
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="contrase_a">Contraseña</label><br>
                    <input type="password" id="contrase_a" name="contrase_a" required>
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="confirmar_contrase_a">Confirmar Contraseña</label><br>
                    <input type="password" id="confirmar_contrase_a" name="confirmar_contrase_a" required>
                </div>
                <input type="submit" value="Registrarme">
            </form>
        </div>
        <div class="login_form">
            <form action="#" method="POST">
                <div style="margin-bottom: 1rem;">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" required>
                </div>
                <div style="margin-bottom: 1rem;">
                    <label for="contrase_a">Contraseña</label><br>
                    <input type="password" id="contrase_a" name="contrase_a" required>
                </div>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </main>
</body>

</html>